@import url('https://fonts.googleapis.com/css2?family=Aladin&family=B612:ital,wght@0,400;0,700;1,400;1,700&family=Calistoga&display=swap');

* {
    -light: #F4F4F4;
    -light-shadow: #e8e8e8;
    -error: #e42513;
    -warning: #e47b13;
    -secondary: #306c01;
    -secondary-light: #568105;
    -primary: #113f79;
    -primary-light: #2c7794;
    -dark: #000806;
}

/* logo */
.title {
    -fx-font-family: "Aladin Regular";
    -fx-font-size: 32;
}

/* regular text */
.text {
    -fx-font-family: "B612";
    -fx-font-size: 12;
}

/* text heading styles */
.heading3 {
    -fx-font-family: "Calistoga";
    -fx-font-size: 20;
}

.heading4 {
    -fx-font-family: "Calistoga";
    -fx-font-size: 16;
}

/* label heading styles */

.label3 {
    -fx-padding: 10 0 10 0
}

.label3 .text {
    -fx-font-family: "Calistoga";
    -fx-font-size: 20;
}

.label4 {
    -fx-padding: 4 0 4 0
}

.label4 .text {
    -fx-font-family: "Calistoga";
    -fx-font-size: 16;
}

/* fill styles */
.primary {
    -fx-text-fill: -primary;
    -fx-fill: -primary;
}

.primary-light {
    -fx-text-fill: -primary-light;
    -fx-fill: -primary-light;
}

.secondary {
    -fx-text-fill: -secondary;
    -fx-fill: -secondary;
}

.secondary-light {
    -fx-text-fill: -secondary-light;
    -fx-fill: -secondary-light;
}

.error {
    -fx-text-fill: -error;
    -fx-fill: -error;
}

/* button styles */

.btnS {
    -fx-background-color: -primary;
    -fx-padding: 4px 8px;
    -fx-background-radius: 8;
}

.btnS:hover, btnS:focused {
    -fx-background-color: -secondary;
}

.btnS .text {
    -fx-font-family: "Calistoga";
    -fx-font-size: 14;
    -fx-fill: -light;
}

.btnXS {
    -fx-background-color: -secondary-light;
    -fx-padding: 0 8px;
    -fx-background-radius: 2;
    -fx-cursor: hand;
}

.btnXS:hover, btnXS:focused {
    -fx-background-color: -secondary;
}

.btnXS .text {
    -fx-font-size: 10;
    -fx-fill: -light;
}

.listItemBtn {
    -fx-cursor: hand;

    -fx-min-width: 600px;
    -fx-max-width: 600px;

    -fx-max-height: 48px;
    -fx-min-height: 48px;

    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-padding: 8px;
}

/* basic */

.hyperlink {
    -fx-text-fill: -primary-light;
    -fx-underline: true;
    -fx-padding: 0;
}

.hyperlink:hover {
    -fx-text-fill: -primary;
}

.text-field {
    -fx-focus-fill: -primary-light;
}

.context-menu {
    -fx-effect: null;
    -fx-background-radius: 4;
}

.menu-button {
    -fx-background-color: #ccd7b8;
}

.menu-item:focused {
    -fx-background-color: -primary;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.materialCardM {
    -fx-min-width: 224px;
    -fx-max-width: 224px;
    -fx-min-height: 108px;
    -fx-max-height: 108px;
    -fx-spacing: 4;
    -fx-padding: 4;
    -fx-border-radius: 4;
    -fx-border-color: -primary-light;
    -fx-background-color: -light;
}

.materialCardM:hover, .materialCardM:focused {
    -fx-background-color: -light-shadow;
    -fx-cursor: hand;
}

.materialCardSubtitle {
    -fx-font-size: 12;
    -fx-fill: -primary-light;
}

.materialCardIcon {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-fill: -primary-light;
}

.tag {
    -fx-padding: 3;
    -fx-text-fill: -light;
    -fx-background-color: -primary-light;
}

.tag:hover {
    -fx-background-color: -primary;
}


.star-filled {
    -fx-fill: -warning;
    -fx-clip-rule: even-odd;
}

.star-empty {
    -fx-fill: -primary-light;
    -fx-clip-rule: even-odd;
}