target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### google cloud storage credentials###
src/main/resources/credentials/
src/main/resources/META-INF/
*.json

tokens/
src/main/resources/META-INF/persistence.xml
tokens/.idea/
# SonarQube configuration
sonar-project.properties
.scannerwork/

.env